fastapi
uvicorn
streamlit
python-dotenv
pydantic
pydantic-settings
chromadb
networkx
sentence-transformers
faster-whisper
pytesseract
Pillow
PyMuPDF
opencv-python
scenedetect
google-generativeai
pytest
requests
python-multipart
